---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign filtered_posts = site.publications | where: "category", category[0] %}
    {% assign sorted_posts = filtered_posts | sort: "date" | reverse %}

    {% if sorted_posts.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      {% assign count = sorted_posts.size %}
      {% for post in sorted_posts %}
        {% assign post_count = count %}
        {% include archive-single.html post=post post_count=post_count %}
        {% assign count = count | minus: 1 %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}



