---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  <div class="archive__item">
    <p>
      <strong>{{ post.title }}</strong><br/>
      <em>{{ post.university }}</em><br/><br/>
      <em>{{ post.date | date: "%B %Y" }} | {{ post.role }}{% if post.role == "TA" and post.instructor %} (Instructor: {{ post.instructor }}){% endif %}</em><br/><br/>
      {{ post.excerpt | markdownify }}
    </p>
  </div>
{% endfor %}