{% if post.category == "manuscripts" or post.category == "inreview" %}
  {% assign label = "J" %}
{% elsif post.category == "conferences" %}
  {% assign label = "C" %}
{% elsif post.category == "books" %}
  {% assign label = "B" %}
{% else %}
  {% assign label = "P" %}
{% endif %}

<div class="archive__item">
  <p>
    [{{ label }}{{ include.post_count }}] {{ post.authors }}. 
    ({{ post.date | date: "%Y" }}). 
    <em>{{ post.title }}</em>. 
    {% if post.journal %}
      {{ post.journal }}.
    {% elsif post.conference %}
      {{ post.conference }}.
    {% endif %}
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">pdf</a>
    {% endif %}
    {% if post.slidesurl %}
      | <a href="{{ post.slidesurl }}">slides</a>
    {% endif %}
    {% if post.bibtexurl %}
      | <a href="{{ post.bibtexurl }}">bibtex</a>
    {% endif %}
  </p>
</div>
